DirectoryIndex index.php



RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} !\.[^./]+$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [L,R=301]


# Редиректы
RewriteRule ^([a-z]+)(/?)+$ index.php?module=$1 [L]
RewriteRule ^(shop|news|page)/([0-9]+)-([0-9a-zA-Z-]+).html$ index.php?module=$1&id=$2&altname=$3 [L]
RewriteRule ^(shop|news)/([0-9]+)(/?)+$ index.php?module=$1&page=$2 [L]
RewriteRule ^(shop|news)/((([a-zA-Z][0-9])+|([0-9][a-zA-Z])+|([0-9][-][a-zA-Z])+|([a-zA-Z][-][0-9])+|([a-zA-Z-]))+)(/?)+$ index.php?module=$1&catname=$2 [L] 
RewriteRule ^(shop|news)/((([a-zA-Z][0-9])+|([0-9][a-zA-Z])+|([0-9][-][a-zA-Z])+|([a-zA-Z][-][0-9])+|([a-zA-Z-]))+)/([0-9]+)(/?)+$ index.php?module=$1&catname=$2&page=$9 [L] 
RewriteRule ^profile/orders(/?)+$ index.php?module=profile&page=orders [L]
RewriteRule ^profile/logout(/?)+$ index.php?module=profile&logout=1 [L]