<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
%metatitle%
%description%
%keywords%
<script type="text/javascript" src="/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/darkbox.js"></script>
<script type="text/javascript" src="/js/minicart.js"></script>
<script type="text/javascript" src="/template/Default/js/coin-slider/coin-slider.min.js"></script>
<script type="text/javascript" src="/template/Default/js/jq-script.js"></script>
<link rel="stylesheet" href="/template/Default/js/coin-slider/coin-slider-styles.css" type="text/css" /> 
<link href="/template/Default/css/style.css" rel="stylesheet" media="all">
<script>
$(document).ready(function() {
        $("#coin-slider").coinslider({ width: 844, height: 180, delay: 3000 });
    });
</script>









</head>
<body>
<!--headbg-->
 <div class="headbg">&nbsp;</div>
<!--/headbg-->

<!--site-->
<!--upbox-->
 <div class="upbox fspage">
 
  <div class="phone">
   <p><span>8</span><span>(3462)</span>37-40-31</p>
   <p><span>8</span><span>(932)</span>251-88-38</p>
  </div>
  
  <div class="address">
   628400, Россия, г.Сургут<br />
   ул.Сосновый бор д.24, кв.19
  </div>
  
  <div class="searchbox">
   <img style="display:none;" alt="" src="/template/Default/img/testsearch.png">
  </div>
  
 </div>
<!--/upbox-->
<!--head-->
 <div class="headbox">
  <p style="text-align:right;margin:0px;margin-top:100px;padding-right:40px;">
   <a href="/shop/Galmet/"><img alt="" src="/uploads/files/galmet.png"></a>
   <a href="/shop/Roteks/"><img alt="" src="/uploads/files/roteks.png"></a>
   <a href="/shop/fuwi/"><img alt="" src="/uploads/files/fuwi.png"></a>
  </p>
 </div>
<!--head-->
<!--bodybox-->
 <div class="bodybox">
  
  <div class="menubox">
   <a href="/"><p>ГЛАВНАЯ</p></a> 
   <a href="/page/1-o-nas.html"><p>О НАС</p></a> 
   <a href="/page/2-uslugi.html"><p>УСЛУГИ</p></a>
   <a href="/page/3-obschaya-informatsiya.html"><p>ОБЩАЯ ИНФОРМАЦИЯ</p></a>
   <a href="/page/4-dostavka.html"><p>ДОСТАВКА</p></a>
   <a href="/page/5-sertifikatyi.html"><p>СЕРТИФИКАТЫ</p></a>
   <a href="/page/18-otzivi.html"><p>ОТЗЫВЫ</p></a>
   <a href="/page/6-kontaktnaya-informatsiya.html"><p>КОНТАКТНАЯ ИНФОРМАЦИЯ</p></a>
  </div>
  
  <div class="contentbox">
  
   <div class="leftbox">
     
      %minicart%
      %miniprofile%
      <br />
     <div class="leftblock">
      <div class="lbtitle">Категории товаров&nbsp;&raquo;</div>
      <div class="cat_tape">
       %shopmenu%
	   
      </div>
     </div>
     
     <div class="leftblock" style="display:none;">
      <div class="lbtitle">Новости магазина&nbsp;&raquo;</div>
      <div class="news_prev">
        <a href="#">Lorem ipsum dolor sit amet</a>
        <p>&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget enim aliquam, volutpat nibh in, interdum urna. In porta fermentum dui quis dapibus. Donec imperdiet ac mauris quis porttitor. Ut sed egestas leo. Integer pharetra tellus quis nunc accumsan malesuada. Fusce accumsan quam ac est fermentum iaculis ac id est. Nam eget ipsum sed nunc pulvinar mollis sed eget ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent a lacus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at sodales lorem.</p>
        <p>06.03.2014</p>
      </div>
     </div>
     
   </div>
   
   <div class="centerbox"> 
     [aviable=home]
    <div id="coin-slider">
       <a href="#">
        <img src="/template/Default/slide/1.jpg" alt="">
        <span>&nbsp;</span>
       </a>
       <a href="#">
        <img src="/template/Default/slide/2.jpg" alt="">
        <span>&nbsp;</span>
       </a>
       <a href="#">
        <img src="/template/Default/slide/3.jpg" alt="">
        <span>&nbsp;</span>
       </a>
    </div>
     [/aviable]
    <div class="contpage">
     <div class="conttitle">
      <p>ТеплоВод&nbsp;&raquo;&nbsp;Главная&nbsp;&raquo;&nbsp;Новинки</p>
     </div>
     
     <div class="tape-products">
     
		%info%
       %shop%  
		
       %content%  
		   <div class="pagination">%pagination%</div>
      <!--/test-->
     
     </div>
     
    </div>
     
   </div>
  
  </div>
  
 </div>
<!--/bodybox-->
<!--footbox-->

 <div class="footer">
  <div class="submenu">
   <a href="/">Главная</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/page/1-o-nas.html">О нас</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/page/2-uslugi.html">Услуги</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/page/3-obschaya-informatsiya.html">Общая информация</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/page/4-dostavka.html">Доставка</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/page/5-sertifikatyi.html">Сертификаты</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/shop/">Каталог товаров</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/page/6-kontaktnaya-informatsiya.html">Контакты</a>
  </div>
  
  <div class="znachki">
   Мы принимаем:<br /><img alt="" src="/template/Default/img/test4.jpg">
  </div>
  
  <div class="stats">
   <!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t54.10;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров и"+
" посетителей за 24 часа' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->

  </div>
 </div>
<!--/footbox-->
<!--copy-->
 <div class="copy">
  www.sitename.ru &copy; 2014 - Все права защищены. <a href="#">SD «Stub»</a>, design by <a href="#">Drampier</a>.
 </div>
<!--/copy-->
<!--/site-->
<!--messbox-->
<div class="blackbg">
 <div class="messbox">Товар добавлен в корзину.</div>
</div>
<div class="otzivi">
 <div class="messbox2">Ваш отзыв отправлен.<br />Спасибо, Ваше мнение важно для нас.<br />Отзыв будет опубликован после проверки администратором.</div>
</div>
<!--/messbox-->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = '160035';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>
</html>