<div class="regboxinfo">
 <br />
 Личный кабинет на сайте "Тепловод-комплект" позволит Вам видеть осуществленные Вами ранее заказы, а так же при необходимости повторять их.
</div>
<div class="regbox">
<form action="" method="POST">

<table>
 <tr><td><span>*</span>Введите Логин:</td><td><input type="text" name="reglogin"></td></tr>
 <tr><td><span>*</span>Введите пароль:</td><td><input type="password" name="regpass"></td></tr>
 <tr><td><span>*</span>Введите Email:</td><td><input type=\"text\" name="regmail"></td></tr>
 <tr><td>&nbsp;</td><td><input class="loginbut" type="submit" name="submit" value="Зарегестрироваться"></td></tr>
</table>
<p>Поля <span>*</span> обязательны к заполнению</p>

</form>
</div>



