

<div class="conttitle2"><p>Добавление отзыва:</p></div>
<div class="reviews">

[add_reviews]

<div class="commentboxadd">
 <div class="title-commentboxadd">%rating% &nbsp;Выберите оценку<div id="vis-rating-panel" class="addrating1"><div id="vis-rating-hover" class="addrating1"></div></div></div>
 <div>
  <table>
   <tr>
    <td><p class="cont-commentbox ccbg1"><strong>Достоинства:</strong><br />%luck%</p><p class="cont-commentbox ccbg2"><strong>Недостатки:</strong><br />%dignity%</p><p class="cont-commentbox ccbg1"><strong>Комментарий:</strong><br />%comment%</p></td>
   </tr>
  </table>
  [submit]Оставить отзыв[/submit]
 </div>
</div>




[/add_reviews]


[add_reviews_error]
Вам запрещено публиковать отзывы, или вы не зарегистрированы.
[/add_reviews_error]

[reply_reviews]
Вы уже оставляли отзыв к данному товару.
[/reply_reviews]

[add_reviews_successful]
Отзыв успешно добавлен!
[/add_reviews_successful]

</div>

