

<div class="conttitle2"><p>Отзывы:</p></div>
<div class="reviews">

[reviews_list]

<div class="commentbox">
 <div class="title-commentbox"><p class="id-name-commentbox">[<a id="#%id%">#%id%</a>][%username%]</p><p class="vis-rating"><img alt="" src="/template/Default/img/rating/%rating%.png"></p></div>
 <div>
  <table>
   <tr>
    <td><p class="avatar-commentbox"><img alt="" src="%user_avatar%"><span class="date-comment">13.06.14</span></p></td>
    <td><p class="cont-commentbox ccbg1"><strong>Достоинства:</strong><br />&nbsp;&nbsp;&nbsp;%luck%</p><p class="cont-commentbox ccbg2"><strong>Недостатки:</strong><br />&nbsp;&nbsp;&nbsp;%dignity%</p><p class="cont-commentbox ccbg1"><strong>Комментарий:</strong><br />&nbsp;&nbsp;&nbsp;%comment%</p></td>
   </tr>
  </table>
 </div>
</div>

[/reviews_list]


[off_reviews]
Отзывы у этого товара выключены.
[/off_reviews]

[no_reviews]
Ещё не добавлено ни одного отзыва!
[/no_reviews]




</div>

