<!DOCTYPE html>
<html>
<head>
<title>Страница авторизации</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="template/css/style.css" rel="stylesheet" media="all">
</head>
<body>

<div class="loginform glbox">
 <div>
  <p><img alt="" src="template/images/proboxcms-logo.png"></p>
 </div>
 %info%
 <div><form action="" method="POST">
  <p>&nbsp;Введите логин:<br /><input type="text" name="login" value=""></p>
  <p>&nbsp;Введите пароль:<br /><input type="password" name="pass" value=""></p>
   <p>&nbsp;Введите код с картинки:<br /><input type="text" name="captcha_code" value=""></p>
  <p><img src="probox/captcha.php" style="border:1px solid #e5e5e5;"></p>
  <p><input class="pabut" type="submit" name="submit" value="Войти в панель">&nbsp;<a href="#"><span class="forgot-password">Забыли пароль?</span></a></p>
  </form>
 </div>
 <div>
  <p>
   <span>PRO</span>BoxCMS - Легкость, простота и удобство в управлении сайтом.<br />
   Authors and system developers <span title="Maksimov S.S.">Drampier</span> and <span title="Zinchenko E.O.">Neyron</span> &copy; 2014<br />
   <a href="http://proboxcms.ru/" target="_blank">www.proboxcms.ru</a> - v.b1.01-05.14
  </p>
 </div>
</div>

</body>
</html>