<div class="fullshopcont">
<h2>%title%</h2>
<p class="prepro-pic2"><a href="%previmg%" class="darkbox"><img src="/template/Default/img/null.png" style="background:url('%previmg%');background-repeat:no-repeat;background-position:50% 50%;background-size:auto 100%;" alt="Картинка к %title%" title="%title%"></a></p>
<p class="fullshop-desc">%fullshop%</p>
Стоимость: %discost% руб.<br />
Кол-во: %goodscount%&nbsp; <br / >
[fieldname=color]%field_color%
[fieldname=dead]%field_dead%
[fieldname=cars]%field_cars%
[fieldname=question]%field_question%
Добавил: %author%<br />
Просмотров: %views%
<div class="addcart">[addcart_button]Добавить в корзину[/addcart_button]</div>
<span style="display:none;">%date%</span>
</div>
%reviews%

%addreviews% 